<!DOCTYPE html>
<html>

<head>
  <title>Find-ISS</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="adjust">

    <h1 class="first">
      Find the current location of the <span class="highlight">ISS</span> Satellite above Earth
    </h1>

  <p class="lat"> 
   <span class="high-1">LATITUDE:</span> <%= lat_id %>
   <br>
   <span class="high-2">LONGITUDE:</span> <%= lon_id %>
  </p>

    <p class="zone_id">
      <%= zone_id %>
    </p>
  <p class="code">
    <%= country_code %>
  </p>

  <div id="map" class="map-style"></div>

  <script>
    function initMap() {
      const issLocation = { lat: parseFloat("<%= lat_id %>"), lng: parseFloat("<%= lon_id %>") };

      const countryCode = "<%= country_code %>";
      const zoomLevel = countryCode === "Somewhere over the ocean" ? 1.5 : 4;

      const map = new google.maps.Map(document.getElementById("map"), {
          zoom: zoomLevel,
          center: issLocation,
      });

      const marker = new google.maps.Marker({
          position: issLocation,
          map: map,
      });
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapsApiKey%>&callback=initMap" async defer></script>

  <p class="facts">
    Moves at 7.66km/sec (4.76 mi/s)
  </p>

  <form action="/" method="GET">
    <button type="submit" class="btn">Refresh</button>
  </form>
  <h2 class="desc-css"><a href="/description">Website description</a></h2>
</div>


</body>

</html>